# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env*

# MkDocs site output
site/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Logs and temp files
*.log
*.tmp

# IDEs
.idea/
